/**
 * @file
 * Styles which tries to minimally(!) clear up the styles the City API produces.
 */

/* Plain */
.thecity_login_normal_plain ul {
  list-style: none;
}

/* Inline */
.thecity_login_inline_plain ul {
  list-style: none;
}
